{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online Voting</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/assets/stylesheets/main.css' %}">
    <script src="{% static 'polls/homepage.js' %}"></script>
  </head>

  <body>
  <header class="primary-header container group">
      <h1 class="logo">
        Online voting system
      </h1>
    <h3 class="tagline">Welcome</h3>
  <nav class="nav primary-nav">
    <ul>
         <a href="{% url 'polls:result' %}">Result<br></a>

    </ul>
  </nav>
  </header>
    
    <div class="form-modal">

    <!-- <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">log in</button>
        <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
    </div> -->

    <div style="color:red">{{ error }}</div>
    <div style="color:green">{{ message }}</div>
    <div>
        Login
        <div id="login-form">
            <form action="{% url 'polls:login' %}" method="post">{% csrf_token %}
                <div>
                    <input type="email" placeholder="Enter email" name="email" required/>
                </div>
                <div>
                    <input type="password" placeholder="Enter password" name="password" required/>
                </div>
                <div>
                    <button type="submit" class="btn login">Login</button>
                </div>
            </form>
        </div>           
    </div>
    
</br>
</br>
    <div>
            If not Singned up yet please Sign Up
            <div id="signup-form">
                <form action="{% url 'polls:signup' %}" method="post">{% csrf_token %}
                    <div>
                        Email <input type="email" placeholder="Enter your email(example@example.com)" name="email"/ required>
                    </div>
                    <div>
                        Name <input type="text" placeholder="Full Name" name="username"/ required>
                    </div>
                    <div>
                        Password<input type="password" placeholder="password" name="password"/ required>
                    </div>
                    <div>
                        Password Confirmation<input type="password" placeholder="retype password" name="password"/ required>
                    </div>
                
                    <button type="submit" class="btn signup">signup</button>
                </form>
                
            </div>
                    
        </div>
    </div>
    
  </body>
</html>
